[Unit]
Description=Snips js handler
After=network.target rhasspy.target

[Service]
ExecStart=/usr/bin/make up
WorkingDirectory=/home/pi/rhasspyhandler
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
